
@{
    ViewBag.Title = "Personel Yönetimi";
}
<div class="page-titles">
    <h4>Personel Yönetimi</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Personel Yönetimi</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card car-list-card">
            <div class="card-header d-sm-flex d-block border-0 pb-0">
                <div>
                    <h4 class="fs-20 text-black">Personel Listesi</h4>
                    <span class="fs-12">
                        Bu departmanda yeni personel tanımlamanızı
                        yapabilirsiniz.
                    </span>
                </div>
                <div class="dropdown custom-dropdown mb-0 mt-3 mt-sm-0">
                    <div class="btn cp-btn-add  cp-sedet cp-br-6" role="button" data-toggle="dropdown"
                         aria-expanded="false">
                        Personel Ekle
                        <i class="fa fa-caret-down text-primary ml-3" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right ">
                        <button type="button " class="cp-new-add" data-toggle="modal"
                                data-target="#modalGrid2">
                            Yeni Personel Ekle
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (TempData["PersonalSuccessResult"] != null)
                {
                    <div class="alert alert-success">@TempData["PersonalSuccessResult"]</div>
                }
                @if (TempData["PersonalErrorResult"] != null)
                {
                    <div class="alert alert-danger">@TempData["PersonalErrorResult"]</div>
                }
                <div class="table-responsive">
                    <table class="table mb-0 table-striped">
                        <thead>
                            <tr>
                                <th class="">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkAll">
                                        <label class="custom-control-label" for="checkAll"></label> -->
                                    </div>
                                </th>
                                <th>Ad Soyad</th>
                                <th>E-Posta</th>
                                <th>Telefon</th>
                                <th class="pl-5 width200">
                                    Adres
                                </th>
                                <th>Araç Plaka</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="customers">
                            <tr class="btn-reveal-trigger">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox1">
                                        <label class="custom-control-label" for="checkbox1"></label> -->
                                        <span>1</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <div class=""><img class="rounded-circle img-fluid"
                                                                   src="../assets/../assets/images/avatar/cp-personal.svg" width="30" alt="" />
                                                </div>
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:ricky@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                <td class="py-2 pl-5 wspace-no">2392 Main Avenue, Penasauka</td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox2">
                                        <label class="custom-control-label" for="checkbox2"></label> -->
                                        <span>2</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <img class="rounded-circle img-fluid"
                                                     src="../assets/images/avatar/cp-personal.svg" alt="" width="30" />
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Emma Watson</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:emma@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:2122288403">(212) 228-8403</a></td>
                                <td class="py-2 pl-5 wspace-no">
                                    2289 5th Avenue, New York
                                </td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox3">
                                        <label class="custom-control-label" for="checkbox3"></label> -->
                                        <span>3</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <div class=""><img class="rounded-circle img-fluid"
                                                                   src="../assets/images/avatar/cp-personal.svg" width="30" alt="" />
                                                </div>
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Rowen Atkinson</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:rown@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                <td class="py-2 pl-5 wspace-no">
                                    112 Bostwick Avenue, Jersey City
                                </td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox4">
                                        <label class="custom-control-label" for="checkbox4"></label> -->
                                        <span>4</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <img class="rounded-circle img-fluid"
                                                     src="../assets/images/avatar/cp-personal.svg" alt="" width="30" />
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Antony Hopkins</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:antony@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:9013243127">(901) 324-3127</a></td>
                                <td class="py-2 pl-5 wspace-no">3448 Ile De France St #242, </td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox5">
                                        <label class="custom-control-label" for="checkbox5"></label> -->
                                        <span>5</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <img class="rounded-circle img-fluid"
                                                     src="../assets/images/avatar/cp-personal.svg" alt="" width="30" />
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Jennifer Schramm</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:jennifer@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:8283829631">(828) 382-9631</a></td>
                                <td class="py-2 pl-5 wspace-no">
                                    659 Hannah Street, Charlotte
                                </td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox6">
                                        <label class="custom-control-label" for="checkbox6"></label> -->
                                        <span>6</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <div class=""><img class="rounded-circle img-fluid"
                                                                   src="../assets/images/avatar/cp-personal.svg" width="30" alt="" />
                                                </div>
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Raymond Mims</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:raymond@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:5624685646">(562) 468-5646</a></td>
                                <td class="py-2 pl-5 wspace-no">
                                    2298 Locust Court, Artesia
                                </td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox7">
                                        <label class="custom-control-label" for="checkbox7"></label> -->
                                        <span>7</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <img class="rounded-circle img-fluid"
                                                     src="../assets/images/avatar/cp-personal.svg" alt="" width="30" />
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Michael Jenkins</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:jenkins@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:3026138829">(302) 613-8829</a></td>
                                <td class="py-2 pl-5 wspace-no">
                                    4678 Maud Street, Philadelphia
                                </td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox8">
                                        <label class="custom-control-label" for="checkbox8"></label> -->
                                        <span>8</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <img class="rounded-circle img-fluid"
                                                     src="../assets/images/avatar/cp-personal.svg" alt="" width="30" />
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Kristine Cadena</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:cadena@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:3172737814">(317) 273-7814</a></td>
                                <td class="py-2 pl-5 wspace-no">3412 Crestview Manor, Indianapolis</td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox9">
                                        <label class="custom-control-label" for="checkbox9"></label> -->
                                        <span>9</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <div class=""><img class="rounded-circle img-fluid"
                                                                   src="../assets/images/avatar/cp-personal.svg" width="30" alt="" />
                                                </div>
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:ricky@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                <td class="py-2 pl-5 wspace-no">2392 Main Avenue, Penasauka</td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                <td class="py-2">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkbox10">
                                        <label class="custom-control-label" for="checkbox10"></label> -->
                                        <span>10</span>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <a href="#">
                                        <div class="media d-flex align-items-center">
                                            <!-- <div class="avatar avatar-xl mr-2">
                                                <img class="rounded-circle img-fluid"
                                                     src="../assets/images/avatar/cp-personal.svg" alt="" width="30" />
                                            </div> -->
                                            <div class="media-body">
                                                <h5 class="mb-0 fs--1">Emma Watson</h5>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="mailto:emma@example.com">info@example.com</a>
                                </td>
                                <td class="py-2"> <a href="tel:2122288403">(212) 228-8403</a></td>
                                <td class="py-2 pl-5 wspace-no">
                                    2289 5th Avenue, New York
                                </td>
                                <td class="py-2">42 AHE 87</td>
                                <td class="py-2 text-right">
                                    <div class="dropdown">
                                        <button class="btn boradi-btn btn-primary tp-btn-light sharp"
                                                type="button" data-toggle="dropdown">
                                            <span class="fs--1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     width="18px" height="18px" viewBox="0 0 24 24"
                                                     version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none"
                                                       fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2">
                                                        </circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border py-0">
                                            <button type="button " class="cp-new-add"
                                                    data-toggle="modal"
                                                    data-target="#modalGrid">
                                                Düzenle
                                            </button>
                                            <button type="button " class="cp-new-add">Sil</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modalGrid2" style="display: none;" aria-hidden="true">
    <div class="modal-dialog cp-modal-dialog" role="document">
        <div class="modal-content boradi-4">
            <div class="modal-header">
                <h4 class="modal-title"> <strong>Yeni Personel Ekle</strong> </h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body cp-anc-modal-body">
                <div class="container">
                    <form method="post" action="/personal/add">
                        @Html.AntiForgeryToken()
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Ad</label>
                                <input type="text" class="form-control" required name="firstName">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Soyad</label>
                                <input type="text" class="form-control" required name="lastName">
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-Posta</label>
                                <input type="E-Posta" class="form-control" name="email">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefon</label>
                                <input type="tel" id="phone" name="phone" class="form-control"
                                       required name="phone">
                            </div>


                            <div class="form-group col-md-12">
                                <label>Adres</label>
                                <textarea class="form-control cp-anc-ta" rows="4"
                                          id="comment" name="adress"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer border-tn pr-25">
                            <button type="button" class="btn btn-danger light boradi-4"
                                    data-dismiss="modal">
                                Vazgeç
                            </button>
                            <button type="submit" class="btn btn-primary boradi-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>