<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>TERP - Login Sayfa</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/favicon/favicon.ico">

  <link href="../assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/koneks-login-page.css" />
</head>

<body>
  <div class="login-wrapper">
    <div class="login">
      <!-- <h1>KONEKS CRM</h1> -->
      <img class="" src="../assets/images/koneks-logo-white.png" alt="" />
      <form autocomplete="off" method="get" action="./terp-anasayfa.html">
        <input autocomplete="off" class="login-input" type="text" name="u" placeholder="Kullanıcı Adı"
          required="required" />
        <input autocomplete="off" class="login-input" type="password" name="p" placeholder="Şifre"
          required="required" />
        <button type="submit" class="btn-login btn-primary-login btn-block-login btn-large-login">
          CMS Paneline Giriş Yap
        </button>
      </form>
    </div>
  </div>
</body>

</html>