@{
    ViewBag.Title = "Şifre Değiştir";
}

<div class="page-titles">
    <div class="hp-title">
        <h4 class="hp-h4">Şifre Değiştirme</h4>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Şifre Değiştirme</a></li>
    </ol>
</div>
<div class="row">

    <div class="col-lg-12">
        <div class="card chap-card">
            <div class="card-header">
                <h4 class="card-title">Parola Güncelleme</h4>
            </div>
            <div class="card-body">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
                <div class="basic-form">
                    <form class="form-valide-with-icon" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="text-label">Kullanıcı Adı:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" readonly="readonly" autocomplete="off" class="form-control" id="val-username1"
                                       name="val-username" required value="@Context.User.Identity.Name" placeholder="Kullanıcı adı">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-label">Yeni Şifre:</label>
                            <div class="input-group transparent-append">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input type="password" required class="form-control" autocomplete="off" id="dz-password"
                                       name="password" placeholder="Yeni şifre">
                                <div class="input-group-append show-pass ">
                                    <span class="input-group-text ">
                                        <i class="fa fa-eye-slash"></i>
                                        <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-label">Yeni Şifre (Tekrar):</label>
                            <div class="input-group transparent-append">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input type="password" autocomplete="off" class="form-control" id="dz-password"
                                       name="confirmPassword" required placeholder="Yeni şifre tekrar">
                                <div class="input-group-append show-pass ">
                                    <span class="input-group-text ">
                                        <i class="fa fa-eye-slash"></i>
                                        <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn mr-2 btn-primary boradi-4">Güncelle</button>
                        <button type="reset" class="btn btn-light boradi-4">Vazgeç</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

