
<div class="row social-media-area">
    <div class="col-xl-3 col-xxl-3 col-sm-6">
        <a href="https://www.twitter.com/" target="_blank">
            <div class="card">
                <div class="social-graph-wrapper widget-twitter">
                    <span class="s-icon"><i class="fa fa-twitter"></i></span>
                </div>

            </div>
        </a>
    </div>
    <div class="col-xl-3 col-xxl-3 col-sm-6">
        <a href="https://www.facebook.com/" target="_blank">
            <div class="card">
                <div class="social-graph-wrapper widget-facebook">
                    <span class="s-icon"><i class="fa fa-facebook"></i></span>
                </div>
            </div>
        </a>

    </div>
    <div class="col-xl-3 col-xxl-3 col-sm-6">
        <a href="https://www.instagram.com" target="_blank">
            <div class="card">
                <div class="social-graph-wrapper widget-instagram">
                    <span class="s-icon"><i class="fa fa-instagram"></i></span>
                </div>

            </div>
        </a>
    </div>
    <div class="col-xl-3 col-xxl-3 col-sm-6">
        <a href="https://www.linkedin.com/" target="_blank">
            <div class="card">
                <div class="social-graph-wrapper widget-linkedin">
                    <span class="s-icon"><i class="fa fa-linkedin"></i></span>
                </div>

            </div>
        </a>
    </div>
</div>