
@{
    ViewBag.Title = "Anasayfa";
}
<div class="page-titles">
    <div class="hp-title">
        <img class="koneks-sun" src="/content/assets/icons/flaticon/clipboard.svg" alt="">
        <h4 class="hp-h4">Koneks Lojistik Yönetim Paneli</h4>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Dünya Haritası</a></li>
    </ol>
</div>
@{Html.RenderAction("Index", "Map");}
@{Html.RenderAction("Index", "SocialMedia");}