@model TERP.WebUIMVC.Models.CarViewModel
@{
    ViewBag.Title = "Anasayfa";
}

@{
    var carStatusActive = 0;
    var carStatusPassive = 0;
    foreach (var carStatus in Model.CarList)
    {
        if (carStatus.Status)
        {
            carStatusActive++;
        }
        else
        {
            carStatusPassive++;
        }
    }
}

@section HeaderLeftSection{
    <div class="header-left">
        <div class="header-minicard">
            <div class="card mb-0 boradi-6">
                <img class="ppin" src="/content/assets/icons/flaticon/push-pin.svg" width="20" height="20"
                     alt="İçeriğe Ulaşılamıyor">
                <div class="card-body hcardp">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h2 class="fs-38 text-black font-w600">@Model.CarList.Count()</h2>
                            <span class="fs-18">Toplam Araç</span>
                        </div>
                        <span class="p-3 border ml-3 rounded-circle">
                            <img src="/content/assets/icons/flaticon/truck.svg" width="34" height="34"
                                 alt="İçeriğe Ulaşılamıyor">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-minicard">
            <div class="card mb-0 boradi-6">
                <img class="ppin" src="/content/assets/icons/flaticon/push-pin.svg" width="20" height="20"
                     alt="İçeriğe Ulaşılamıyor">
                <div class="card-body hcardp">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h2 class="fs-38 text-black font-w600">@carStatusActive</h2>
                            <span class="fs-18">Aktif Araç</span>
                        </div>
                        <span class="p-3 border ml-3 rounded-circle">
                            <img src="/content/assets/icons/flaticon/road.svg" width="34" height="34"
                                 alt="İçeriğe Ulaşılamıyor">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-minicard">
            <div class="card mb-0 boradi-6">
                <img class="ppin" src="/content/assets/icons/flaticon/push-pin.svg" width="20" height="20"
                     alt="İçeriğe Ulaşılamıyor">
                <div class="card-body hcardp">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h2 class="fs-38 text-black font-w600">@carStatusPassive</h2>
                            <span class="fs-18">Pasif Araç</span>
                        </div>
                        <span class="p-3 border ml-3 rounded-circle">
                            <img src="/content/assets/icons/flaticon/park.svg" width="34" height="34"
                                 alt="İçeriğe Ulaşılamıyor">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="dashboard_bar">
            <div class="input-group search-area d-lg-inline-flex d-none">
                <div class="input-group-append">
                    <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                </div>
                <input type="text" class="form-control" placeholder="Bana sor...">
            </div>
        </div> -->
    </div>
}
<div class="page-titles">
    <div class="hp-title">
        <img class="koneks-sun" src="/content/assets/icons/flaticon/clipboard.svg" alt="">
        <h4 class="hp-h4">Koneks Lojistik Yönetim Paneli</h4>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Dünya Haritası</a></li>
    </ol>
</div>
@{Html.RenderAction("Index", "Map");}
@{Html.RenderAction("Index", "SocialMedia");}