
@{
    ViewBag.Title = "Unauthorized401ErrorPage";
}

<div class="row mt-lg-5">
    <div class="col-12 text-center">
        <h2 style="color:#ef7f1b;">Bu sayfayı görüntüleme yetkiniz bulunamadı.<br /> Lütfen yönetici ile iletişim kurunuz!</h2>
    </div>
</div>

