/* Custom CSS Start */
/* BALZEN*/
.clr-facebook{
  color: #3b5998 !important;
  border-color: #3b5998 !important;
  
}
.clr-twitter{
  color: #1da1f2 !important;
  border-color: #1da1f2 !important;
}
.clr-youtube{
  color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.clr-instagram{
  color: #c32aa3 !important;
  border-color: #c32aa3 !important;
}
.clr-linkedin{
  color: #007bb6 !important;
  border-color: #007bb6 !important;
}
.clr-yahoo{
  color: #430297 !important;
  border-color: #430297 !important;
}
.clr-skype{
  color: #00aff0 !important;
  border-color: #00aff0 !important;
}
.clr-gmail{
  color: #db4439 !important;
  border-color: #db4439 !important;
}

.color-bal {
  color: #93329e !important;
}

.color-zen {
  color: #5eaaa8 !important;
}

.show::-webkit-scrollbar {
  border-radius: 10px;
  height: 10px;
  width: 8px;
}

.show::-webkit-scrollbar-thumb {
  background: #c8cacc;
  background-color: #c8cacc;
  border-radius: 10px;
}

.show::-webkit-scrollbar-track {
  border-radius: 10px;
}

.boradi-0 {
  border-radius: 0px !important;
}
.boradi-2 {
  border-radius: 2px !important;
}
.boradi-4 {
  border-radius: 4px !important;
}
.boradi-6 {
  border-radius: 6px !important;
}
.boradi-8 {
  border-radius: 8px !important;
}
.boradi-10 {
  border-radius: 10px !important;
}
.boradi-btn{
   border-radius: 1.25rem;
}

.boxshan{
box-shadow: none !important;
}

.border-bn{
  border-bottom: none !important;
}
.border-tn{
  border-top: none !important;
}

.header-text-left {
  color: #3f3f3f;
}

.hcardp {
  padding: 0.75rem 2.25rem !important;
}

.header-minicard {
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.ppin{
  position: absolute;
  display: block;
  width: 100%;
  margin: auto;
}

.hp-title {
  display: flex;
}

.hp-title > img{
  margin-right: 10px;
}

.koneks-sun {
  width: 32px;
  height: 32px;
}

.hp-h4 {
  /* margin-left: 10px; */
}

/* icon position*/
.itpot {
  position: relative;
  top: 2px;
}

.hp-word-card {
  border-radius: 0.5rem !important;
  transition: none !important;
}

.kc-card {
  border-radius: 0.5rem !important;
  transition: none !important;
}

.car-list-card {
  border-radius: 0.5rem !important;
  transition: none !important;
}

.cp-sedet:hover {
  background-color: #f4f5f9;
}

.cp-br {
  border-radius: 4px;
}

.cp-br-6 {
  border-radius: 6px;
}

.cp-custdd {
  top: 5px !important;
  left: 7px !important;
}

.cp-btn-add {
  background-color: #fff;
  border-color: #81879e;
  color: #3b3289;
}
.cp-btn-add:hover {
  background-color: #fff;
}

.cp-new-add{
  width: 100%;
    background: #fff;
    border: none;
    outline: none;
    padding: 15px 30px;
    border-bottom: 1px solid #f3f3f5;
}
.cp-new-add:last-child{
   border-bottom: none !important;
}
.cp-cdd-menu{
  padding: 0px !important;
  top: 4px !important;
  left: 6px !important;
  border-radius: 4px !important;

}

.cp-new-add{
  color: #3b3289 !important;

}
.cp-new-add:hover{
  background-color: #f3f3f5;
  color: #ef7f1b !important;
  border-radius: 4px!important;
}
.cp-new-add:focus{
  box-shadow: none !important;
}

.cp-modal-dialog{
  max-width: 750px !important;
  /* top: 15% !important; */
}

.mc-modal-dialog{
  max-width: 750px !important;
  /* top: 15% !important; */
}

.cp-anc-cont{
  padding-left: 0px;
  padding-right: 5px;
}
.cp-anc-ta{
  resize: none;
}

.cp-anc-modal-body{
  padding-top: 0px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mc-modal-body{
  padding-top: 0px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.mc-title{
  font-size: 1.125rem !important;
  font-weight: normal !important;
}
.mc-title{
 margin: 0 !important;
}

.mc-tarea{
  margin-top: 20px !important;
}
.mc-tarea > textarea{
  resize: none !important;

}

.sm-cont{
  padding-right: 0px;
  padding-left: 0px;
}

.sm-card{
  transition: none !important;
  border-radius: 0.5rem !important;
}

.sm-txt{
  color: #656773;
}

.uc-card{
  border-radius: 0.5rem !important;
  transition: none !important;
}

.us-tarea{
  resize: none !important;
}

.us-tterms{
  position: relative;
  top: -1px;
}

.chap-card{
  transition: none !important;
  border-radius: 0.5rem !important;
}


.po-card{
  transition: none !important;
  border-radius: 0.5rem !important;
}

.pr-25{
  padding-right: 25px !important;
}


.ae-cont{
  margin-top: 20px !important;
}
.ae-boltb{
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.ae-bortb{
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.ae-finp{
  display:block;
  width:100%;
  height: 41px;
  position: relative;
  top: 1px;
  border: none;
}

.ae-tarea{
  resize: none !important;
}
/* Custom CSS End */
