/* Custom CSS Start */
/* BALZEN*/
.clr-facebook {
  color: #3b5998 !important;
  border-color: #3b5998 !important;
}
.clr-twitter {
  color: #1da1f2 !important;
  border-color: #1da1f2 !important;
}
.clr-youtube {
  color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.clr-instagram {
  color: #c32aa3 !important;
  border-color: #c32aa3 !important;
}
.clr-linkedin {
  color: #007bb6 !important;
  border-color: #007bb6 !important;
}
.clr-yahoo {
  color: #430297 !important;
  border-color: #430297 !important;
}
.clr-skype {
  color: #00aff0 !important;
  border-color: #00aff0 !important;
}
.clr-gmail {
  color: #db4439 !important;
  border-color: #db4439 !important;
}

.color-bal {
  color: #93329e !important;
}

.color-zen {
  color: #5eaaa8 !important;
}

.show::-webkit-scrollbar {
  border-radius: 10px;
  height: 10px;
  width: 8px;
}

.show::-webkit-scrollbar-thumb {
  background: #c8cacc;
  background-color: #c8cacc;
  border-radius: 10px;
}

.show::-webkit-scrollbar-track {
  border-radius: 10px;
}

.boradi-0 {
  border-radius: 0px !important;
}
.boradi-2 {
  border-radius: 2px !important;
}
.boradi-4 {
  border-radius: 4px !important;
}
.boradi-6 {
  border-radius: 6px !important;
}
.boradi-8 {
  border-radius: 8px !important;
}
.boradi-10 {
  border-radius: 10px !important;
}
.boradi-btn {
  border-radius: 1.25rem;
}

.boxshan {
  box-shadow: none !important;
}

.border-bn {
  border-bottom: none !important;
}
.border-tn {
  border-top: none !important;
}

.header-text-left {
  color: #3f3f3f;
}

.hcardp {
  padding: 0.75rem 2.25rem !important;
}

.header-minicard {
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.ppin {
  position: absolute;
  display: block;
  width: 100%;
  margin: auto;
}

.hp-title {
  display: flex;
}

.hp-title > img {
  margin-right: 10px;
}

.koneks-sun {
  width: 32px;
  height: 32px;
}

.hp-h4 {
  /* margin-left: 10px; */
}

/* icon position*/
.itpot {
  position: relative;
  top: 2px;
}

.hp-word-card {
  border-radius: 0.5rem !important;
  transition: none !important;
}

.kc-card {
  border-radius: 0.5rem !important;
  transition: none !important;
}

.car-list-card {
  border-radius: 0.5rem !important;
  transition: none !important;
}

.cp-sedet:hover {
  background-color: #f4f5f9;
}
.docs-sedet:hover {
  background-color: #f4f5f9;
}

.cp-br {
  border-radius: 4px;
}

.cp-br-6 {
  border-radius: 6px;
}

.cp-custdd {
  top: 5px !important;
  left: 7px !important;
}

.cp-btn-add {
  background-color: #fff;
  border-color: #81879e;
  color: #3b3289;
}
.cp-btn-add:hover {
  background-color: #fff;
}
.docs-btn-add {
  background-color: #fff;
  border-color: #81879e;
  color: #3b3289;
}
.docs-btn-add:hover {
  background-color: #fff;
}

.cp-new-add {
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-bottom: 1px solid #f3f3f5;
}
.cp-new-add:last-child {
  border-bottom: none !important;
}
.cp-cdd-menu {
  padding: 0px !important;
  top: 4px !important;
  left: 6px !important;
  border-radius: 4px !important;
}

.cp-new-add {
  color: #3b3289 !important;
}
.cp-new-add:hover {
  background-color: #f3f3f5;
  color: #ef7f1b !important;
  border-radius: 4px !important;
}
.cp-new-add:focus {
  box-shadow: none !important;
}

.cp-modal-dialog {
  max-width: 750px !important;
  /* top: 15% !important; */
}

.mc-modal-dialog {
  max-width: 750px !important;
  /* top: 15% !important; */
}

.cp-anc-cont {
  padding-left: 0px;
  padding-right: 5px;
}
.cp-anc-ta {
  resize: none;
}
.docs-ta {
  resize: none;
}

.cp-anc-modal-body {
  padding-top: 0px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mc-modal-body {
  padding-top: 0px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.mc-title {
  font-size: 1.125rem !important;
  font-weight: normal !important;
}
.mc-title {
  margin: 0 !important;
}

.mc-tarea {
  margin-top: 20px !important;
}
.mc-tarea > textarea {
  resize: none !important;
}

.sm-cont {
  padding-right: 0px;
  padding-left: 0px;
}

.sm-card {
  transition: none !important;
  border-radius: 0.5rem !important;
}

.sm-txt {
  color: #656773;
}

.uc-card {
  border-radius: 0.5rem !important;
  transition: none !important;
}

.us-tarea {
  resize: none !important;
}

.us-tterms {
  position: relative;
  top: -1px;
}

.chap-card {
  transition: none !important;
  border-radius: 0.5rem !important;
}

.docs-card {
  transition: none !important;
  border-radius: 0.5rem !important;
}

.po-card {
  transition: none !important;
  border-radius: 0.5rem !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.ae-cont {
  margin-top: 20px !important;
}
.ae-boltb {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.ae-bortb {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.ae-finp {
  display: block;
  width: 100%;
  height: 41px;
  position: relative;
  top: 1px;
  border: none;
}

.ae-tarea {
  resize: none !important;
}

.docs-th {
  color: #000 !important;
  font-family: "poppins", sans-serif !important;
}

.docs-header {
  padding: 1rem 1.875rem 1rem !important;
  border-bottom: none !important;
}
/* Custom CSS End */

/* Upload File CSS Start */

.file-container {
  margin: 20px 0px;
}

.file-row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  align-items: flex-end;
}
#one {
  /* margin-top:50px; */
  border-radius: 6px;
  box-shadow: 0px 0px 5px 2px rgb(169 169 169 / 20%);
  padding-top: 30px;
  padding-bottom: 30px;
}
.it .btn-orange {
  background-color: transparent;
  /* border-color: #777 !important; */
  color: #777;
  text-align: left;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.it input.form-control {
  padding: 0;
  height: 34px;
  border: none;
  margin-bottom: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
}
.it .form-control:focus {
  border-color: #868383;
  box-shadow: none;
  outline: none;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  width: 100%;
  min-height: 115px;
  height: auto !important;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.it .btn-new,
.it .btn-next {
  margin: 10px 0px;
  background-color: #fff0e5;
  color: #fe8024;
  font-size: 16px;
  /* width: 155px; */
  border-radius: 4px;
}
.it .btn-next {
  background-color: #dde7ee;
  color: #3b3289;
}
.it .btn-check {
  cursor: pointer;
  line-height: 35px;
  background-color: #ffc7c7;
  color: #ff2e2e;
  text-align: center;
  margin-top: 20px;
  border-radius: 4px;
  display: block;
}

.file-btn {
  background-color: #ffc7c7;
  color: #ff2e2e;
  text-align: center;
  margin-top: 20px;
  border-radius: 4px;
}

.it .uploadDoc {
  margin-bottom: 20px;
  align-items: center !important;
}
.it .btn-orange img {
  width: 60px;
}

.upl {
  display: block;
  width: 100%;
  overflow: hidden; /* taşanları gizle */
  white-space: nowrap; /* alt satıra hiç inme */
  text-overflow: ellipsis; /* eğer uzunsa üç nokta koy */
  line-clamp: 2;
}
.itp {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.it #uploader .docErr {
  position: absolute;
  right: auto;
  left: 10px;
  top: -56px;
  padding: 10px;
  font-size: 15px;
  background-color: #fff;
  color: red;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
  display: none;
}
.it #uploader .docErr:after {
  content: "\f0d7";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 50px;
  color: #fff;
  position: absolute;
  left: 30px;
  bottom: -40px;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
/* Upload File CSS End */
